body{
	background-color: #9c9c9c;
}

img {
	display: block;
	width: 35px;
	height: 25px;
}

h1{
	font-family: 'Roboto', sans-serif;
	color: #78866b;
}

figcaption {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

